/* div {
  color: white;
  background-color: red;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
} */

.odd-class {
  background-color: pink;
  font-family: Verdana, DejaVu Sans, Tahoma, sans-serif;
}

.adjust-font-size {
  font-size: 80px;
}

#id1 {
  color: blue;
  background-color: transparent;
  font-size: 150px;
}

#id2 {
  background-color: green;
  color: black;
  font-weight: bold;
}

.first-elem,
.second-elem {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
}

.first-elem {
  background-color: black;
  color: white;
  font-weight: bold;
}

.second-elem {
  background-color: yellow;
}

.box {
  font-size: 5rem;
  background-color: pink;
  /* Box Model */

  height: 100px;
  width: 300px;
  /* padding-top: ;
  padding-right: ;
  padding-bottom: ;
  padding-left: ; */
  padding: 10px;

  /* margin-top: ;
  margin-right: ;
  margin-bottom: ;
  margin-left: ; */
  margin: 32px;

  border: 5px solid black;
}
